@page "/lesson/{LessonId:int}"

@inject Service.LessonDefinitionBackendAccessService LessonDefinitionService
@inject Service.LessonProfileDefinitionBackendAccessService LessonProfileDefinitionService
@inject Service.LoggedInStates States
@inject Service.ProfileDefinitionBackendAccessService ProfileDefinitionService
@inject NavigationManager navigation
@* ------------- Display Helping Hands on the top right  -------------------*@
<div class="float-right">

    @if (buttonPressed)//(Array.Exists(LessonsProfiles, element => element == CurrentLessonProfile)) {
                      // buttonPressed = true;
                      //}

    {
        <button type="button" class="btn-add-helper" @onclick="removeUserFromHelpingHands">
            <img src="css\images\helpingbutton_active.png" alt="helping hands" height="65" />
            <br />
            <span style="font-size:x-small">You are a helping hand!</span>
        </button>
    }
    else
    {
        <button type="button" class="btn-add-helper" @onclick="addUserToHelpingHands">
            <img src="css\images\helpingbutton_deactive.png" alt="no helping hand yet" height="65" />
            <br />
            <span style="font-size:x-small">Click to become a helping hand!</span>
        </button>
    }
</div>
@* ------------- Display Helpers on the top right  -------------------*@

@if (!showHelpersButtonPressed)
{
    <div class="float-right">
        <button class="btn-add-helper" @onclick="() => getLessonHelpersProfiles()">
            <img src="css\images\LeftArrow.png" alt="show helping hands" class="rounded-circle" height="65" />
            <br />
            <span class="ShowHelpers">Show helpers</span>
        </button>
    </div>
}
else
{
    <div class="float-right">
        <button class="btn-add-helper" @onclick="() => hideLessonHelpersProfiles()">
            <img src="css\images\RightArrow.png" alt="hide helping hands" class="rounded-circle" height="65" />
            <br />
            <span class="HideHelpers">Hide helpers</span>
        </button>
    </div>
}


@if (showHelpersButtonPressed)
{
    <div class="float-right">
        <button class="btn-add-helper" @onclick="() => sendMessageTo()">
            <img src="css\images\Nuru.png" alt="Nuru" class="rounded-circle" height="65" />
            <br />
            <span class="name">Nuru</span>
        </button>
        <button class="btn-add-helper">
            <img src="css\images\Salim.png" alt="Salim" class="rounded-circle" height="65" />
            <br />
            <span class="name">Salim</span>
        </button>
    </div>


    @foreach (var helpingHandProfile in HelpingHandProfiles)
    {
            <div class="float-right">
                <button class="btn-add-helper" @onclick="() => sendMessageTo()">
                    <img src="@helpingHandProfile.UrlImage" alt="@helpingHandProfile.FirstName" class="rounded-circle" height="65" />
                    <br />
                    <span class="name">@helpingHandProfile.FirstName</span>

                </button>
            </div>
    }
}




@* ------------- Display Content of the Lesson -------------------*@
@if (ExistingLesson != null)
{
    <h2 class="display-4" style="color: rgb(7, 88, 50);">@(ExistingLesson.lessonTitle)</h2>

    <div class="video-teamh">
        <br /><br />
        <iframe width="560" height="315" src="@(ExistingLesson.videoUrl)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br /><br />
    </div>
    @(ExistingLesson.text)
}




@code {
    [Parameter]
    public int LessonId { get; set; }

    private SEIIApp.Shared.DomainTdo.LessonDefinitionDto ExistingLesson { get; set; }
    private SEIIApp.Shared.DomainTdo.LessonProfilDefinitionDto[] LessonDefinitionProfiles { get; set; }
    private SEIIApp.Shared.DomainTdo.LessonProfilDefinitionDto CurrentLessonProfile { get; set; }
    private SEIIApp.Shared.DomainTdo.ProfilDefinitionDto[] HelpingHandProfiles { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (LessonId != 0)
        {
            LessonDefinitionProfiles = await LessonProfileDefinitionService.GetLessonProfileDefinitionsWithLessonNumber(LessonId);
            ExistingLesson = await LessonDefinitionService.GetLessonById(LessonId);
        }
        await base.OnParametersSetAsync();

    }

    string myPicture = "";
    bool buttonPressed = false;
    bool showHelpersButtonPressed = false;
    string pressedStyle = "";

    private async Task addUserToHelpingHands()
    {
        buttonPressed = !buttonPressed;

        if (buttonPressed)
        {
            CurrentLessonProfile = new SEIIApp.Shared.DomainTdo.LessonProfilDefinitionDto { lessonNumber = LessonId, Id = States.Profile.Id };
            //Check if profile is already contained in lessonProfileDefinitions
            int isAlreadyHelpingHand = Array.IndexOf(LessonDefinitionProfiles, CurrentLessonProfile);
            if (isAlreadyHelpingHand == -1)
            {
                await LessonProfileDefinitionService.AddProfileLesson(CurrentLessonProfile);
                CurrentLessonProfile = await LessonProfileDefinitionService.GetLessonDefinitionByID(LessonId);
            }

        }
    }

    private async Task removeUserFromHelpingHands()
    {
        buttonPressed = !buttonPressed;

        if (!buttonPressed)
        {
            await LessonProfileDefinitionService.DeleteProfileLesson(CurrentLessonProfile.LessonProfilId);
            this.StateHasChanged();
        }
    }


    private async Task getLessonHelpersProfiles()
    {
        int i = 0;
        showHelpersButtonPressed = !showHelpersButtonPressed;
        if (LessonDefinitionProfiles?.Length > 0)
        {
            HelpingHandProfiles = new SEIIApp.Shared.DomainTdo.ProfilDefinitionDto[LessonDefinitionProfiles.Length];

            foreach (var lessonProfile in LessonDefinitionProfiles)
            {
                HelpingHandProfiles[i] = await ProfileDefinitionService.GetProfileById(lessonProfile.Id);
                if (HelpingHandProfiles[i].UrlImage == null)
                {
                    HelpingHandProfiles[i].UrlImage = "css/images/blankProfile.png";
                }
                i++;
            }
        }
    }
    private void hideLessonHelpersProfiles()
    {
        showHelpersButtonPressed = !showHelpersButtonPressed;
    }
    void sendMessageTo()
    {

        navigation.NavigateTo("/MessageToNuru/");
    }
}
